@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Sligoil'; /* Define the custom font name */
  src: url('/Sligoil-Micro.woff2') format('woff2'); /* Point to the font file in your project */
}

@font-face {
  font-family: 'Chaney'; /* Define the second custom font name */
  src: url('/chaney-ultraextended-webfont.woff2') format('woff2'); /* Point to the second font file in your project */
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 20s linear infinite;
}

body {
  color: rgb(34, 39, 43);
  padding: 1rem;
  background-color: rgb(244, 243, 239);
}

h2 {
  font-family: 'Chaney', sans-serif;
  font-size: 2.25rem;
  line-height: 1.5;
}

p {
  font-family: 'Sligoil', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
