@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Sligoil-micro"; /* Define the custom font name */
  src: url("/public/fonts/Sligoil-Micro.woff2") format("woff2"); /* Point to the font file in your project */
}

@font-face {
  font-family: "Chaney-ultra"; /* Define the second custom font name */
  src: url("/public/fonts/chaney-ultraextended-webfont.woff2") format("woff2"); /* Point to the second font file in your project */
}

body {
  color: rgb(34, 39, 43);
  padding: 1rem;
  background-color: rgb(244, 243, 239);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
