body {
  background: url("/styles/assets/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 50px 0 0;
}

br {
  display: block;
  margin: 11px 0;
  content: " ";
}

p {
  margin-bottom: 320px;
}

.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.discordLink {
  opacity: 1;
  transition:opacity 1s;
}

.discordLink:hover {
  opacity: 0.6;
  transition:opacity 1s;
}